<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Congratulating {repo} award winners for {month}!</title>
</head>
<body>
{table}

<br>
<h4>Key</h4>
<table>
    <tr>
        <td>
            <b>Bookworm</b>
        </td>
        <td>
            Who needs a newspaper? You reviewed the most pull requests for {month}!
        </td>
    </tr><br>
    <tr>
        <td>
            <b>Harmless</b>
        </td>
        <td>
            Caution is wise, and you submitted the least pull requests for {month}!
        </td>
    </tr><br>
    <tr>
        <td>
            <b>Shakespear</b>
        </td>
        <td>
            Hast thou reviewed my PR? Not something you need to ask, because you received the most reviews in {month}!
        </td>
    </tr><br>
    <tr>
        <td>
            <b>tl;dr</b>
        </td>
        <td>
            More interested in epic changes? You reviewed the least pull requests in {month}!
        </td>
    </tr>
</table>
</body>
</html>
