<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{name} repository stats</title>
</head>
<body>
<h4>Total pull requests</h4>
<img src="prs.png">

<h4>Pull requests per author</h4>
<img src="prs_by_author.png">

<h4>Average reviews per pull request</h4>
<img src="avg_reviews.png">

<h4>Total authors</h4>
<img src="authors.png">

<h4>Average reviews / authors</h4>
<img src="avg_reviews_by_authors.png">

<h4>Total reviews / authors</h4>
<img src="total_reviews_by_authors.png">
</body>
</html>