<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>{name} stats</title>

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300i,400,600">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="styles.css">
    </head>

    <body>
        <header>
            <!-- Logo -->
            <h4 class="logo">git-quality</h4>
            
            <!-- Open menu button for mobile/tablets -->
            <i class="fa fa-bars show-tablet open-menu toggle-mobile-menu"></i>
            
            <!-- Close menu button for mobile/tablets -->
            <i class="fa fa-close close-menu toggle-mobile-menu"></i>
            
            <!-- Primary navigation -->
            <nav class="mobile-nav">
                <ul>
                    <!-- Home -->
                    <li>
                        <a href="{home_url}">Home</a>
                    </li>

                    <!-- View -->
                    <li>
                        <a class="mobile-nav-dropdown" href="#">View</a>
                        
                        <ul>
                            <li class="nav-separator hide-mobile"></li>

                            <li>
                                <a href="{home_url}{timeframe}{author}">Monthly</a>
                            </li>

                            <li>
                                <a href="{home_url}weekly/{timeframe}{author}">Weekly</a>
                            </li>

                            <li>
                                <a href="{home_url}daily/{timeframe}{author}">Daily</a>
                            </li>
                        </ul>
                    </li>

                    <!-- Timeframe -->
                    <li>
                        <a class="mobile-nav-dropdown" href="#">Timeframe</a>
                        
                        <ul>
                            <li class="nav-separator hide-mobile"></li>

                            <li>
                                <a href="{home_url}{view}{author}">12 months</a>
                            </li>

                            <li>
                                <a href="{home_url}{view}6_months/{author}">6 months</a>
                            </li>

                            <li>
                                <a href="{home_url}{view}3_months/{author}">3 months</a>
                            </li>

                            <li>
                                <a href="{home_url}{view}4_weeks/{author}">4 weeks</a>
                            </li>

                            <!-- <li>
                                <a href="{home_url}{view}7_days/{author}">7 days</a>
                            </li> -->
                        </ul>
                    </li>

                    <!-- View -->
                    <li>
                        <a class="mobile-nav-dropdown" href="#">Authors</a>
                        
                        <ul>
                            <li class="nav-separator hide-mobile"></li>

                            <li>
                                {nav}
                            </li>
                        </ul>
                    </li>

                    <!-- Tracking -->
                    <li>
                        <a href="{home_url}tracking.html">Tracking</a>
                    </li>
                </ul>
            </nav>
        </header>

        <div class="main">
            <div class="content">
                <h1>{name}</h1>
        
                <p>
                    <strong>{view_text}</strong> stats for period of <strong>{timeframe_text}</strong> <i class="fa fa-line-chart hide-mobile"></i>
                </p>
                
                <!-- Github information charts generated by Python script -->
                <div id="image-table">
                    <img src="prs_by_author.png" alt="Pull requests by author">
                    <img src="reviews_by_reviewer.png" alt="Reviews by reviewer">
                    <img src="authors.png" alt="Authors">
                    <img src="avg_reviews.png"  alt="Average reviews">
                    <img src="commits_by_author.png" alt="Commits by author">
                    <img src="changes_by_author.png" alt="Changes by author">
                    <img src="commit_changes.png" alt="Commit changes">
                    <img src="code_changes_by_author.png" alt="Code changes by author">
                </div>
    
                <h4>Commit punchcard</h4>
                
                <img class="punchcard" src="punchcard.png">
            </div>
        </div>

        <footer>
            <p>
                Generated by <a href="https://github.com/w-martin/git-quality/">git-quality v0.9</a>
            </p>
            
            <p>
                Written by <a href="https://github.com/w-martin">William Martin <span class="horns">&#x1F918;</span></a>
            </p>
        </footer>
    </body>

    <script type="text/javascript" src="scripts.js"></script>
</html>
