:root {
    /* Variables */
    --base-font-size: 8px;

    /* Colour palette */
    --dark-primary-colour: #455A64;
    --light-primary-colour: #CFD8DC;
    --primary-colour: #607D8B;
    
    --primary-text-colour: #212121;
    --secondary-text-colour: #757575;
    --primary-icon-text-colour: #FFFFFF;
    
    --primary-background-colour: #FAFAFA;
    
    --accent-colour: #9E9E9E;
    --divider-colour: #BDBDBD;
    
    --light-grey: #EEEEEE;

    /* Shadows */
    --primary-shadow: 0 3px 10px rgba(0,0,0,.23), 0 3px 10px rgba(0,0,0,.16);
    --secondary-shadow: 0 2px 6px rgba(0,0,0,.2);

    /* z-index list */
    --footer-z-index-layer: 1;
    --mobileMenu-z-index-layer: 2;
    --header-z-index-layer: 3;
}

/* Base styles */
* {
    font-family: 'Open Sans', sans-serif;
    
    color: var(--primary-text-colour);
    
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

body {
    margin: 0;
    padding: 0;

    color: var(--primary-text-colour);
    background-color: var(--primary-background-colour);
    font-weight: 300;
}

/**
 * Typography
 **/
h1 {
    font-size: calc(var(--base-font-size) * 6);
    font-weight: 600;
}

h4 {
    font-size: calc(var(--base-font-size) * 3);
    font-weight: 600;
}

p { font-size: calc(var(--base-font-size) * 2); }
a:hover { color: var(--primary-icon-text-colour); }

/**
 * General
 **/
.fa {
    float: right;
    color: var(--primary-colour)
}

/**
 * Container
 **/
.main {
    width: 100%;
    height: 100%;
}

/**
 * Header
 **/
header {
    width: 100vw;
    max-height: 10vh;
    padding: calc(var(--base-font-size) * 3) calc(var(--base-font-size) * 5);

    position: fixed;
    top: 0;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    background-color: var(--dark-primary-colour);

    -webkit-box-shadow: var(--primary-shadow);
    box-shadow: var(--primary-shadow);

    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;

    box-sizing: border-box;
    z-index: var(--header-z-index-layer);
}

header .logo {
    min-width: 106px;
    margin: 0;

    color: var(--primary-background-colour);

    font-size: calc(var(--base-font-size) * 3);
    font-weight: 600;
    font-style: inherit;

    z-index: var(--header-z-index-layer);
}

header .toggle-mobile-menu {
    color: var(--primary-background-colour);

    font-size: calc(var(--base-font-size) * 3);
}

header .toggle-mobile-menu:hover { cursor: pointer; }

header .open-menu,
header .close-menu {
    position: absolute;
    top: calc(var(--base-font-size) * 3);
    right: calc(var(--base-font-size) * 5);
    
    font-size: calc(var(--base-font-size) * 3);

    opacity: 1;

    -webkit-transition: opacity 0.3s ease-in;
    transition: opacity 0.3s ease-in;

    z-index: var(--header-z-index-layer);
}

header .close-menu { opacity: 0; }

/**
 * Navigation
 **/
nav {
    max-height: 10vh;
    max-width: 70vw;
    display: flex;
    
    opacity: 1;
}

nav ul li:hover > ul { display: flex; }

nav ul {
    min-width: 60vw;
	margin: 0;
    padding: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--dark-primary-colour);

    list-style: none;
	position: relative;
}

nav ul li { width: 20%; }
nav ul li:hover a { color: var(--primary-icon-text-colour); }
	
nav ul li a {
    padding: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: var(--light-primary-colour);
    text-decoration: none;
}

nav ul ul {
    width: 20%;
    min-width: 20px;
    padding: 0;
    
    display: none;
    flex-flow: column;

    position: absolute;
    top: 100%;
    
    background: var(--primary-colour);
}

nav ul ul li {
    width: 100%;
    position: relative;
    text-align: center;
}

nav ul ul li a {
    padding: var(--base-font-size) 0;
    color: var(--primary-icon-text-colour);
}

nav ul ul li a:hover { background: var(--dark-primary-colour); }

nav ul ul ul {
    position: absolute;
    top: 0;
    left: 100%; 
}

nav ul ul .nav-separator {
    width: 100%;
    min-height: calc(var(--base-font-size) * 1.5);
    background-color: var(--dark-primary-colour);
}

nav ul .mobile-nav-dropdown::after {
    position: relative;
    right: -10px;
    
    content: '\f0d7';
    
    color: var(--primary-colour);
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/**
 * Primary content
 **/
.content {
    width: 100%;
    margin: calc(var(--base-font-size) * 10) 0;
    padding: 0 calc(var(--base-font-size) * 5);

    display: flex;
    flex-flow: column nowrap;

    box-sizing: border-box;
}

/**
 * Default table design
 **/
table {
    width: 100%;
    border-collapse: collapse;
}

table thead { background-color: var(--primary-colour); }

table thead tr th {
    padding: var(--base-font-size);
    
    border-bottom: 1px solid var(--accent-colour);
    
    text-align: left;
    font-weight: 300;
    color: var(--primary-icon-text-colour);
}

table tbody tr td {
    padding: var(--base-font-size);
    
    border-bottom: 1px solid var(--accent-colour);
    
    text-align: left;
    font-weight: 300;
}

table tbody tr:nth-child(even) {
    color: var(--primary-icon-text-colour);
    background-color: var(--light-grey);
}

table tbody tr:hover {
    color: var(--primary-icon-text-colour);
    background-color: var(--light-primary-colour);
}

/**
 * Image table to display the graphs
 **/
#image-table {
    width: 100%;
    height: auto;

    display: flex;
    flex-flow: row wrap;
}

#image-table > img {
    width: 50%;
    height: 50%;

    padding: calc(var(--base-font-size) * 4);

    box-sizing: border-box;
}

.punchcard { margin: calc(var(--base-font-size) * 4) auto; }

/**
 * Footer
 **/
footer {
    width: 100vw;
    padding: var(--base-font-size) calc(var(--base-font-size) * 5);

    position: fixed;
    bottom: 0;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    background-color: var(--dark-primary-colour);

    -webkit-box-shadow: var(--primary-shadow);
    box-shadow: var(--primary-shadow);

    box-sizing: border-box;
    z-index: var(--footer-z-index-layer);
}

footer p {
    font-size: calc(var(--base-font-size) * 1.5);
    color: var(--light-primary-colour);
}

footer a {
    font-weight: 600;
    text-decoration: none;
    color: var(--light-primary-colour);
}

/**
 * General Media Queries
 */
.hide-mobile { display: block; }
.show-tablet { display: none; }

/* Large desktops styles */
@media screen and (min-width: 1500px) {
    /* Display 3 in a row on screens with a minimum width of 1500px */
    #image-table > img {
        width: 33%;
        padding: calc(var(--base-font-size) * 3);
    }
}

/* Smaller desktops styles */
@media screen and (max-width: 1000px) {
    nav ul li { padding: 0 }

    nav ul li a {
        padding: 0 calc(var(--base-font-size) * 2);
        font-size: calc(var(--base-font-size) * 2);
    }

    /* Display 1 in a row on screens with a max width of 1000px */
    #image-table > img {
        width: 100%;
        padding: calc(var(--base-font-size) * 4);
    }
}

/* Tablet styles */
@media screen and (max-width: 768px) {
    /* Show these elements on tablets and smaller */
    .show-tablet { display: block; }

    /* Typography */
    h1 { font-size: calc(var(--base-font-size) * 5); }

    /* Mobile navigation */
    .mobile-nav {
        width: 100%;
        height: 91vh;
        max-width: 200vw;
        max-height: 200vh;
        margin: 0;
        
        position: absolute;
        top: -100vh;
        left: 0;
        
        opacity: 1;
        overflow: scroll;
        box-sizing: border-box;
        z-index: var(--mobileMenu-z-index-layer);
    }
    
    .mobile-nav ul {
        width: 100%;

        padding: calc(var(--base-font-size) * 3);
    
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        align-items: center;
    }
    
    .mobile-nav ul li {
        width: 100%;
        margin: 0;
        text-align: center;
    }
    
    .mobile-nav ul li a {
        font-size: calc(var(--base-font-size) * 2);
        color: var(--primary-icon-text-colour);
    }
    
    .mobile-nav ul li ul {
        width: 100%;
        padding: 0;
        
        display: block;
        position: initial;
    }
    
    .mobile-nav ul ul li {
        width: 100%;
        background-color: var(--dark-primary-colour);
    }
    
    .mobile-nav ul ul li a {
        font-size: calc(var(--base-font-size) * 2);
        color: var(--light-primary-colour);
    }

    footer p { text-align: center; }
}

/** Mobile styles */
@media screen and (max-width: 480px) {
    /* Hide these elements on mobile */
    .hide-mobile { display: none; }

    /* Typography */
    h1 {
        font-size: calc(var(--base-font-size) * 4);
        text-align: center;
    }

    h4 {
        font-size: calc(var(--base-font-size) * 2);
        text-align: center;
    }

    p { text-align: center; }

    /* Make the default table vertical and spaced based on rows */
    table thead { display: none; }

    table tbody tr {
        display: block;
        margin-bottom: calc(var(--base-font-size) * 2);
    }
    
    table tbody tr td {
        display: block;
        
        font-size: calc(var(--base-font-size) * 1.5);
        text-align: right;
        
        box-sizing: border-box;
    }

    table tbody tr td:before {
        float: left;
        
        content: attr(data-label);
        
        font-weight: bold;
        font-size: calc(var(--base-font-size) * 1.2);
        text-transform: uppercase;
    }

    footer p { font-size: calc(var(--base-font-size) * 1.2); }
}
